<!DOCTYPE html>

<!--START!!^^^^^^^^^^^^^^^^^^^^^^^^IN TEMPLATE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Movie Metadata and predictions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

 <!--D3 cdn-->
 <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js'></script>
 <script src='https://d3js.org/d3.v4.min.js'></script>
 <script src='/static/d3pie.min.js'></script>



  </head>

<body>
     <!-- Navigation -->
    <nav class="navbar navbar-default">
             <div class="container-fluid">
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#neatNavbar" aria-expanded="false">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
                 <!--a class="navbar-brand" href="index.html">BLOCKBUSTER or FLOP?!!  </a-->
                 <a class="navbar-brand" href="index2.html">BLOCKBUSTER or FLOP?!!! <br></br>A MACHINE LEARNING APPROACH... </a>
               </div>
               <div class="collapse navbar-collapse" id="#neatNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="prescreendata.html">FEATURE ENGINEERING AND DATA PROBBING</a>
                            </li>
                            <li>
                                <a href="ensemble.html">A PREDICTIVE MODEL USING DATA MODELING USING ENSEMBLE ML</a>
                            </li>
                            <li>
                                <a href="NLP_story.html">A PREDICTIVE MODEL USING NATURAL LANGUAGE PROCESSING, A FEATURE ENGINEERING</a>
                            </li>
                            <li>
                                <a href="wind.html">RANDOM FOREST EVALUATION</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="comparison.html">RESULTS</a>
                    </li>
                    <li>
                        <a href="data.html">CONCLUSION</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="sigline">
                    <p>
                      USC DATA ANALYTICS BOOTCAMP| 
                      TEAM: FANTASTIC 5 
                      
                      <br> </br> 
              MEMBERS: <a href="http://linkedin.com/in/christopher-newbolt-5902a79">CHRIS,</a> 
                      <a href="HTTP://ESPN.COM">SUE HELEN,</a>  
                      <a href="https://www.linkedin.com/in/nana-zhuohui-liang-22a9302a">NANA, </a> 
                      <a href="http://linkedin.com/in/sonia-yang-69504438">SONIA, </a> 
                      <a href="HTTP://ESPN.COM">LINDSAY</a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
<!--END!!^^^^^^^^^^^^^^^^^^^^^^^^IN TEMPLATE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->


<!-- Fun Fact Carousel to catch attention-->
            <div id="home"><a href="home"></a></div>
            <div id="slides" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target ="#slides" data-slide-to="0" class="active"></li>
                    <li data-target ="#slides" data-slide-to="1"></li>
                    <li data-target ="#slides" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/img/background.png" alt="" style="  width: 100%; height: 100% "/>
                        <div class="carousel-caption">
                            <h1 class="display-2">Los Angeles County Traffic Collisions Analysis</h1>
                            <h3>EXPLORE BELOW</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/background2.png" alt="" style="  width: 100%; height: 100% "/>
                        <div class="carousel-caption">
                            <h1 class="display-2">On Average 3,287 people die each DAY just from car collisions.</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/background3.png" alt="" style="  width: 100%; height: 100% "/>
                        <div class="carousel-caption">
                            <h1 class="display-2">Men participate in more collisions than females in LA County</h1>
                        </div>
                    </div>
                </div>
            </div>
<!--delete later-->

<!-- Movie search-->

<div class="container-fluid padding">
        <div class="row padding">
                    
        <div class="col-md-3">

            <div class="card">
                <img class="card-img-top" src="img/sue.jfif" alt="Great Picture" height="150" width="150">
                <div class="card-body">
                    <br></br> 
                    <h4 class="card-title"></h4> Sue Helen</h4>                            
                </div>

            </div>
        </div>
        
        <div class="col-md-4">
            <p class="card-text">BLAH BLAH BLAH BLAH BLAH</p>
        </div>
    
    <br></br> 
       
    <div class="row padding"> 
    <div class="col-md-3">

                <div class="card">
                        <img class="card-img-top" src="img/bolt.jpeg" alt="Great Picture" height="150" width="150">
                        <!--a href='https://photos.google.com/share/AF1QipP8Lpvs8RGWVPmL4qBiOfsWFjVkKyfcKS2D1BvlExjHBBpGfqHZQhGOtlPgkR8FCg?key=eXpXMFJ1V1htTmR2YnVlNzFfZTlfcDJlQ3JEOW13&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/GhCu4TNocb_ZfPnRRihkDQ4aNppSJ4AWyO4feoT-AefRXk7c3lcRBiHNI1qDuX7iTAkSJth_JUpu2iNExxnLkQG-2RKYWgjpUEvDTkJYrViAEqV3VWRohJxOlR1q_nqd246TZOOjJA=w2400' width="85" height="50"/></a-->
                          <div class="card-body">
                                <br></br>    
                        <h4 class="card-title"></h4> Christopher Newbolt </h4>
                                                  
                    </div>
    
                </div>
            </div>
    
            <div class="col-md-4">
                    <p class="card-text">Currently a lead for the Boeing R&D division, Chris specializes in mechanical parts and assemblies. He is currently improving his understanding of data analytics to compliment and leverage his understanding of mechanical applications and development as well as acquire tools to efficiently tackle large data. </p>
                
            </div>

        </div>


<!--###############################TEMPLATE BELOW##############################-->
            <div class="col-md-4">
                <div class="box box-right">
                    <h2>Links</h2>
                    <hr>

                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="prescreendata.html">
                               <!--     <img id="landing-viz" src="Temp_Latitude.png" alt="Latitude vs. Temperature">-->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="prescreendata.html"> Data Probbing</a></p>
                                </a>
                            </figure>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="ensemble2.html">
                                <!--    <img id="landing-viz" src="Humidity_Latitude.png" alt="Random Forest - Classifier"> -->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="ensemble2.html">Ensemble</a></p>
                                </a>
                            </figure>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="NLP_story.html">
                                 <!--   <img id="landing-viz" src="Cloudiness_Latitude.png" alt="Data Probing Plots"> -->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="NLP_story.html">NLP</a></p>
                                </a>
                            </figure>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="wind.html">
                              <!--      <img id="landing-viz" src="Wind_Speed_Latitude.png" alt="Natural Language Processing"> -->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/applause-joker-KZd26L2o8QXtK">Natural Language Processing</a></p>
                                </a>
                            </figure>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


        <!-- Info Boxes -->

        <div class"container-fluid padding">
            <div class="row padding">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="img/sue.jfif" alt="Great Picture" height="150" width="150">
                        <div class="card-body">
                            <h4 class="card-title"></h4> Sue Helen</h4>
                            <br></br>
                            <p class="card-text">BLAH BLAH BLAH BLAH BLAH</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card">
                            <img class="card-img-top" src="img/bolt.jpeg" alt="Great Picture" height="150" width="150">
                            <!--a href='https://photos.google.com/share/AF1QipP8Lpvs8RGWVPmL4qBiOfsWFjVkKyfcKS2D1BvlExjHBBpGfqHZQhGOtlPgkR8FCg?key=eXpXMFJ1V1htTmR2YnVlNzFfZTlfcDJlQ3JEOW13&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/GhCu4TNocb_ZfPnRRihkDQ4aNppSJ4AWyO4feoT-AefRXk7c3lcRBiHNI1qDuX7iTAkSJth_JUpu2iNExxnLkQG-2RKYWgjpUEvDTkJYrViAEqV3VWRohJxOlR1q_nqd246TZOOjJA=w2400' width="85" height="50"/></a-->
                              <div class="card-body">
                            <h4 class="card-title"></h4> Christopher Newbolt </h4>
                            <br></br>
                            <p class="card-text">Currently a lead for the Boeing R&D division, Chris specializes in mechanical parts and assemblies. He is currently improving his understanding of data analytics to compliment and leverage his understanding of mechanical applications and development as well as acquire tools to efficiently tackle large data. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="img/cat.jpg" alt="Great Picture" height="150" width="150">
                        <div class="card-body">
                            <h4 class="card-title"></h4> Nana</h4>
                            <br></br>
                            <p class="card-text">BLAH BLAH BLAH BLAH BLAH</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                        <div class="card">
                            <img class="card-img-top" src="img/cat.jpg" alt="Great Picture" height="150" width="150">
                            <div class="card-body">
                                <h4 class="card-title"></h4> Sonya</h4>
                                <br></br>
                                <p class="card-text">BLAH BLAH BLAH BLAH BLAH</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                            <div class="card">
                                <img class="card-img-top" src="img/cat.jpg" alt="Great Picture" height="150" width="150">
                                <div class="card-body">
                                    <h4 class="card-title"></h4> Lindsay</h4>
                                    <br></br>
                                    <p class="card-text">BLAH BLAH BLAH BLAH BLAH</p>
                                </div>
                            </div>
                        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>





</body>

</html>
<!--END###############################TEMPLATE ##############################-->