<!DOCTYPE html>

<!--START!!^^^^^^^^^^^^^^^^^^^^^^^^IN TEMPLATE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Movie Metadata and predictions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

 <!--D3 cdn-->
 <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js'></script>
 <script src='https://d3js.org/d3.v4.min.js'></script>
 <script src='/static/d3pie.min.js'></script>



  </head>

<body>
     <!-- Navigation -->
    <nav class="navbar navbar-default">
             <div class="container-fluid">
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#neatNavbar" aria-expanded="false">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
                 <!--a class="navbar-brand" href="index.html">BLOCKBUSTER or FLOP?!!  </a-->
                 <a class="navbar-brand" href="index2.html">BLOCKBUSTER or FLOP?!!! <br></br>A MACHINE LEARNING APPROACH... </a>
               </div>
               <div class="collapse navbar-collapse" id="#neatNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="prescreendata.html">FEATURE ENGINEERING AND DATA PROBBING</a>
                            </li>
                            <li>
                                <a href="ensemble.html">A PREDICTIVE MODEL USING DATA MODELING USING ENSEMBLE ML</a>
                            </li>
                            <li>
                                <a href="NLP_story.html">A PREDICTIVE MODEL USING NATURAL LANGUAGE PROCESSING, A FEATURE ENGINEERING</a>
                            </li>
                            <li>
                                <a href="wind.html">RANDOM FOREST EVALUATION</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown>
                        <a href="comparison.html">RESULTS</a>
                    </li>
                    <li>
                        <a href="data.html">CONCLUSION</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="sigline">
                    <p>
                      USC DATA ANALYTICS BOOTCAMP| 
                      TEAM: FANTASTIC 5 
                      
                      <br> </br> 
              MEMBERS: <a href="http://linkedin.com/in/christopher-newbolt-5902a79">CHRIS,</a> 
                      <a href="https://www.linkedin.com/in/suedelcarpiobellido">SUE HELEN,</a>  
                      <a href="https://www.linkedin.com/in/nana-zhuohui-liang-22a9302a">NANA, </a> 
                      <a href="http://linkedin.com/in/sonia-yang-69504438">SONIA, </a> 
                      <a href="https://www.linkedin.com/in/lindsay-yan-8a09469b">LINDSAY</a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
<!--END!!^^^^^^^^^^^^^^^^^^^^^^^^IN TEMPLATE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->


<!-- Fun Fact Carousel to catch attention-->
            <div id="home"><a href="home"></a></div>
            <div id="slides" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target ="#slides" data-slide-to="0" class="active"></li>
                    <li data-target ="#slides" data-slide-to="1"></li>
                    <li data-target ="#slides" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/img/background.png" alt="" style="  width: 100%; height: 100% "/>
                        <div class="carousel-caption">
                            <h1 class="display-2">Los Angeles County Traffic Collisions Analysis</h1>
                            <h3>EXPLORE BELOW</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/background2.png" alt="" style="  width: 100%; height: 100% "/>
                        <div class="carousel-caption">
                            <h1 class="display-2">On Average 3,287 people die each DAY just from car collisions.</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/background3.png" alt="" style="  width: 100%; height: 100% "/>
                        <div class="carousel-caption">
                            <h1 class="display-2">Men participate in more collisions than females in LA County</h1>
                        </div>
                    </div>
                </div>
            </div>
<!--delete later-->

<!-- Movie search-->

<div class="container-fluid">
  
  <div id="demographic"><a href="demographic"></a></div>
        <div class="container-fluid padding">
        <div class="row padding">
            
                <div class="col-lg-6">
                    <!--h1>Giphy Search</h1-->

        <!-- This form will be where users input data about the movies -->
        <form id="movie-form">
            <label for="movie-input">Search for a movie</label>
            <input type="text" id="movie-input">
            <br>

            <!-- This button will trigger our AJAX call -->
            <input id="find-movie" type="submit" value="Movie Search">
        </form>

       <!-- <div class="imgGoesHere"></div>-->

 
    </div>
<!--delete above Movie Search-->
  
  
  <div class="col-lg-6">
      <div class="imgGoesHere"></div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
          <script type="text/javascript">
                          
            // This .on("click") function will trigger the AJAX Call
            d3.select("#find-movie").on("click", function (event) {

                // d3.event.preventDefault() can be used to prevent an event's default behavior.
                // Here, it prevents the submit button from trying to submit a form when clicked
                d3.event.preventDefault();

                // Here we grab the text from the input box
                var movie = d3.select("#movie-input").node().value;

                var queryURL = "http://api.giphy.com/v1/gifs/search?q=movies+" + movie +
                    "&api_key=dc6zaTOxFJmzC&limit=10";
                d3.json(queryURL, function (error, response) {
                    if (error) return console.warn(error);

                    // console.log(response);
                    console.log("url", response);
                    var url = response.data[0].images.fixed_height.url;
                    d3.select(".imgGoesHere").append("img").attr("src", url);
                })

            });
        </script>
        </div>
      </div>
    </div>
    

<!--end movie search -->


    <div class="container">
        <div class="row row-grid">
            <div class="col-md-8">
                <div class="box box-left">
                    <section id="intro">


                      <!-- <h1>Explanation of Website</h1>-->
                        <hr>
                        <figure>
                            <a target="_blank" href="Ploting_graph_of_Cities.png">
                                <img id="viz-main" src="Ploting_graph_of_Cities.png" alt="SOMTHING HERE">
                            </a>
                        </figure>

                        <section id="summary">
                            <p class="lead">Can machine learning be used to predict the box office perfomances of movies.
                            </p>

                            <p> 
                              We used several methods to answer this question. Natural Language processing was used to analyze the movie description to determine if there are different key words of topics that the movie audience find interesting. <br></br>
                              We used the Random Forest Regression and Classification methods to attempt to predict which factors surrounding a movie influenced the box office performances the most.  
                            </p>
<hr>
                            <p>
                                This dashboard summarizes the outputs of:
                            </p>

                            <ul>
                                <li>Tableau Plots</li>
                                <li>NLP Key Word Results</li>
                                <li>Machine Learning: Enseble</li>
                                <li>Visualizations: Random Forest Classifier</li>
                                <li>Visualizations: Multiplex</li>

                            </ul>



                        </section>

                    </section>
                </div>
            </div>


<!--###############################TEMPLATE BELOW##############################-->
            <div class="col-md-4">
                <div class="box box-right">
                    <h2>Links</h2>
                    <hr>

                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="prescreendata.html">
                               <!--     <img id="landing-viz" src="Temp_Latitude.png" alt="Latitude vs. Temperature">-->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="prescreendata.html"> Data Probbing</a></p>
                                </a>
                            </figure>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="ensemble2.html">
                                <!--    <img id="landing-viz" src="Humidity_Latitude.png" alt="Random Forest - Classifier"> -->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="ensemble2.html">Ensemble</a></p>
                                </a>
                            </figure>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="NLP_story.html">
                                 <!--   <img id="landing-viz" src="Cloudiness_Latitude.png" alt="Data Probing Plots"> -->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="NLP_story.html">NLP</a></p>
                                </a>
                            </figure>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-6">
                            <figure>
                                <a href="wind.html">
                              <!--      <img id="landing-viz" src="Wind_Speed_Latitude.png" alt="Natural Language Processing"> -->
                                  <iframe src="https://giphy.com/embed/KZd26L2o8QXtK" width="85" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/applause-joker-KZd26L2o8QXtK">Natural Language Processing</a></p>
                                </a>
                            </figure>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


        <!-- Info Boxes -->

        <div class"container-fluid padding">
            <div class="row padding">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="img/sue.jpg" alt="Great Picture" height="150" width="150">
                        <div class="card-body">
                            <h4 class="card-title"></h4> Sue Helen</h4>
                            <br></br>
                            <p class="card-text">Sue is an IT professional with solid data analytics skills and extensive teamwork experience as Business Analytics Consultant
                            and Project Manager. With more than 8 years of working experience in projects of Data Warehousing, Data Governance, Data Quality and everything 
                            related to get the highest value from client’s information, she also has broad experience on methods and tools for Agile Project Management based 
                            on best- practices of PMI-PMBOK and Scrum methodologies.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card">
                            <img class="card-img-top" src="img/bolt.jpeg" alt="Great Picture" height="150" width="150">
                            <!--a href='https://photos.google.com/share/AF1QipP8Lpvs8RGWVPmL4qBiOfsWFjVkKyfcKS2D1BvlExjHBBpGfqHZQhGOtlPgkR8FCg?key=eXpXMFJ1V1htTmR2YnVlNzFfZTlfcDJlQ3JEOW13&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/GhCu4TNocb_ZfPnRRihkDQ4aNppSJ4AWyO4feoT-AefRXk7c3lcRBiHNI1qDuX7iTAkSJth_JUpu2iNExxnLkQG-2RKYWgjpUEvDTkJYrViAEqV3VWRohJxOlR1q_nqd246TZOOjJA=w2400' width="85" height="50"/></a-->
                              <div class="card-body">
                            <h4 class="card-title"></h4> Christopher Newbolt </h4>
                            <br></br>
                            <p class="card-text">Currently a lead for the Boeing R&D division, Chris specializes in mechanical parts and assemblies. He is 
                            currently improving his understanding of data analytics to compliment and leverage his understanding of mechanical applications 
                            and development as well as acquire tools to efficiently tackle large data. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="img/nana.jpg" alt="Great Picture" height="150" width="150">
                        <div class="card-body">
                            <h4 class="card-title"></h4> Nana Liang</h4>
                            <br></br>
                            <p class="card-text">Currently a tax senior consultant in PricewaterhouseCooper, 
                            specialized in R&D tax credit and Transaction Cost Analysis. Recently, Nana was 
                            selected as a digital accelerator, who will assist the firm to digitalize the work process and 
                            revolutionize the accounting industry by incorporating new technology and software solution.  </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                        <div class="card">
                            <img class="card-img-top" src="img/sonia.jpg" alt="Great Picture" height="150" width="150">
                            <div class="card-body">
                                <h4 class="card-title"></h4> Sonia Yang</h4>
                                <br></br>
                                <p class="card-text">Passionate in analyzing data and informing data insight, Sonya worked in 
                                various data related career. To further advance the career, she participate the data </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                            <div class="card">
                                <img class="card-img-top" src="img/Lindsay_Photo.png" alt="Great Picture" height="150" width="150">
                                <div class="card-body">
                                    <h4 class="card-title"></h4> Lindsay Yan</h4>
                                    <br></br>
                                    <p class="card-text">BLAH BLAH BLAH BLAH BLAH</p>
                                </div>
                            </div>
                        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>





</body>

</html>
<!--END###############################TEMPLATE ##############################-->