@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.navbar-default {
  background-color: black;
  font-family:Impact, Charcoal, sans-serif;
}


.navbar-default .navbar-brand {
  color: rgb(221, 85, 12);
  font-size: 3em;
  font-weight: 300;
width: 600px;
}

.navbar-header {
  width: 400px;
  margin-left: 75px !important;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.sigline {
  color: rgb(221, 85, 12);
  text-align: right;
  
}
.navbar-header .navbar-toggle .collapsed {
  float: right;
}

.content {
  margin-top: 105px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color:rgb(221, 85, 12);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background-color: black
 
}

h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
  text-align: center;
}

h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
  text-align: center;
}

h5 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
  text-align: center;
}

.box {
  color: black;
  background: #f1f1f1;
  
}

.box-left {
  padding: 20px;
}

.box-right {
  padding: 30px;
}

.box-single {
  color: rgb(221, 85, 12);
  padding: 50px;
  margin: 70px;
}

#summary {
  margin: 10px;
  font-size: 17px;
  line-height: 1.8em;
}

#city-sample {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px 20px;
}

#landing-viz {
  padding: 15px 15px 15px 15px;
  width: 100%;
  height: 100%;
}

.figure:active {
  border: 5px solid #cc5500;
}

.jumbotron {
  color: rgb(3, 36, 77);
  background: #cc5500;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.table {
  color: #fff;
  background: #cc5500;
  width: 100%;
  height: 100%;
  padding: 15px;
}

#viz-main {
  padding: 25px 40px 30px 40px;
  width: 100%;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
    margin-top: 0;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 5 #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}